@using VendorOrderTracker.Models
@{
  Layout = "_Layout";
}
<h3>@Model["vendor"].Name</h3>
<h4>@Model["vendor"].StreetAddress</h4>
<h4>@Model["vendor"].City</h4>
<br>
<h4>Orders:</h4>
@if (Model["orders"].Count == 0)
{
  <h5>No Orders Have Been Added For This Vendor</h5>
}
@foreach (Order order in @Model["orders"])
{
  <div class="order">
    <h5>@order.Description</h5>
  </div>
}
<form action="/vendors/@Model["vendor"].Id/orders/new" method="get">
    <button type="submit" name="button" class="btn btn-primary">Add Order</button>
</form>
<form action="/vendors/" method="get">
  <button type="submit" name="button" class="btn btn-primary">Back to Vendor List</button>
</form>